<nav class="nav">
    <div class="nav-header">
        <div id="close-navigation" class="close-navigation">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2 class="nav-header-title">Nick Bryan Portfolio</h2>
    </div>

    <ul class="menu">
        <li><a href="{{ path_for('homePage') }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="{{ path_for('aboutPage') }}"><i class="fa fa-user" aria-hidden="true"></i> About</a></li>
        {#<li><a href="/portfolio"><i class="fa fa-folder" aria-hidden="true"></i> Portfolio</a></li>#}
        {#<li><a href="/blog"><i class="fa fa-pencil" aria-hidden="true"></i> Blog</a></li>#}
    </ul>
</nav>
