{% extends "layouts/master.twig" %}

{% block content %}
<div class="site-content">
    <div class="row page-wrapper">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                {{ include(template_from_string(content)) }}
            </main>
        </div>
    </div>
</div>
{% endblock %}
