{% extends "layouts/master.twig" %}

{% block content %}
    <div class="site-content">
        <div class="row page-wrapper">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <h1 class="text-center">404</h1>
                    <p class="text-center">Sorry but the page you are looking for does not reside at this address.</p>
                </main>
            </div>
        </div>
    </div>
{% endblock %}
